#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}

  / Carousel items
  .carousel-inner
    .item.active
      =image_tag 'carousal/po-1.jpg'
      .container
        .carousel-caption
          %h1 Ask someone Photoshop for you
          %p.lead Not a perfect photo? Have someone photoshop it for you!
          %a.btn.btn-large.btn-primary{:href => new_user_registration_path} Sign Up today
    .item
      =image_tag 'carousal/po-2.jpg'
      .container
        .carousel-caption
          %h1 Show your Photoshop talent to the world!!
          %p.lead Having fun with photoshop? Use your talent to rescue the photos!
          %a.btn.btn-large.btn-primary{:href => new_user_registration_path} Sign Up today
    .item
      =image_tag 'carousal/po-3.jpg'
      .container
        .carousel-caption
          %h1 Share your pictures and your humor...
          %p.lead Don't be afraid to share your non-perfect pictures, someone will fix it, or make fun on it ^_____^
          %a.btn.btn-large.btn-primary{:href => new_user_registration_path} Sign Up today

  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
